/**{
  border: dashed 1px black;
}*/

body {
  background-color: grey;
}


h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 70px;
}

.box {
  border: 3px solid black;
  height: 150px;
}

#board {
  margin-top: 10px;
}
