/**{
  border: dashed 1px black;
}*/

body {
  background-image: url(http://i.imgur.com/e4KKshy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 110%;
}


h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 70px;
}

.box {
  border: 3px solid black;
  height: 150px;
}

#board {
  margin-top: 10px;
}
